.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.overlay-shadow {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  animation: slideRightToLeft 0.3s linear forwards;
  right: -100%;
}

.sidebar {
  position: absolute;
  width: 40%;
  height: 100%;
  z-index: 3;
  background-color: rgba(72, 95, 123, 255);
  max-height: 100%;
  animation: slideRightToLeft 0.3s linear forwards;
  right: -100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.fixed {
  right: 0%;
  animation: none;
}

.sidebar-title {
  text-align: center;
  font-weight: normal;
  font-size: 2rem;
}

.sidebar-list-container {
  overflow: auto;
  height: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 1rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidebar-list-container::-webkit-scrollbar {
  display: none;
}

.api-provider-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.1rem;
}

.toggled-color {
  background-color: rgba(29, 38, 50, 255);
  border-radius: 10px;
}

.api-provider-container > div {
  font-size: 1.8rem;
  padding: 0.6rem;
}

.api-provider {
  display: flex;
  justify-content: space-between;
}

.api-provided {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  color: rgba(251, 253, 254, 255);
  text-decoration: none;
}

.dropdown-toggle {
  background: none;
  color: rgba(251, 253, 254, 255);
  border: none;
  font-size: 1.8rem;
}

@keyframes slideRightToLeft {
  0% {
    right: -100%; /* Starting position */
  }
  100% {
    right: 0%; /* Ending position */
  }
}

@keyframes animateFixed {
  0% {
    right: 0%; /* Starting position */
  }
  100% {
    right: 0%; /* Ending position */
  }
}
